 lock '3.2.1'

set :user, "user"
set :application, 'pbtd'
set :repo_url, 'git@github.com:synbioz/pbtd.git'

set :deploy_to, '/var/www/pbtd'

# Default value
# set :scm, :git
# set :format, :dot

set :log_level, :info

# Default value for :pty is false
# set :pty, true

set :ssh_options, { forward_agent: true }

set :linked_files, %w{
  config/database.yml
  config/secrets.yml
  config/settings.yml
}

set :linked_dirs, %w{
  log
  tmp/pids
  tmp/cache
  tmp/sockets
  vendor/bundle
  public/system
}

set :default_env, { path: "~/.rbenv/bin:~/.rbenv/shims:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:$PATH" }

# Default value for keep_releases is 5
# set :keep_releases, 5

#
# Configure extensions
#

set :bundle_flags, "--quiet"

set :rbenv_type, :user
set :rbenv_ruby, '2.1.3'

set :puma_conf, -> { File.join(release_path, 'config', 'puma', "#{fetch(:stage)}.rb") }

# Do not perform the puma's check task because the config file
# is in the source tree. The check method will try to upload
# a config file but will never succeed.
Rake::Task['puma:check'].clear

# content of your recipe faye
set :faye_pid, "#{deploy_to}/shared/tmp/pids/faye.pid"
set :faye_config, "#{deploy_to}/current/faye.ru"

#
# Customize deploy
#

namespace :deploy do
  desc 'Restart application'
  task :restart do
    on roles(:app), in: :sequence, wait: 5 do
      Rake::Task["puma:restart"].invoke
    end
  end

  after :publishing, :restart

  desc 'Runs rake db:seed'
  task :seed => [:set_rails_env] do
    on primary fetch(:migration_role) do
      within release_path do
        with rails_env: fetch(:rails_env) do
          execute :rake, "db:seed"
        end
      end
    end
  end

  after :migrate, :seed

  after :restart, :clear_cache do
    on roles(:web), in: :groups, limit: 3, wait: 10 do
      # Here we can do anything such as:
      # within release_path do
      #   execute :rake, 'cache:clear'
      # end
    end
  end
end

namespace :faye do
  desc "Start Faye"
  task :start do
    on roles(:web), in: :sequence, wait: 5 do
      within release_path do
        with rails_env: fetch(:rails_env) do
          execute :bundle, "exec rackup #{fetch(:faye_config)} -s thin -E production -D --pid #{fetch(:faye_pid)}"
        end
      end
    end
  end
  desc "Stop Faye"
  task :stop do
    on roles(:web), in: :sequence, wait: 5 do
      execute "kill -INT `cat #{fetch(:faye_pid)}` || true"
    end
  end
end

before 'deploy', 'faye:stop'


after 'deploy:finished', 'faye:start'
after "deploy", "deploy:generate_version"
after "deploy:finished", "airbrake:deploy"
