@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic")

orange = #F18734
red = #FF5332
blue = #2497D8
green = #68C023
grey = #999
black = #000

font = "Lato", 'Arial', serif
fontcolor = #333

// LAYOUT
*
  box-sizing border-box

body
  max-width 800px
  margin 0 auto
  font-family font
  color fontcolor
  background #eee

.primary-actions
  float right
  a.update
    background blue
    margin 5px
  a.setup
    background green
    margin 5px

h1
  padding-left 5px

h1,h2,h3,h4,h5,h6,
p, em, span, input
  -webkit-font-smoothing antialiased


a
  text-decoration none
  &:hover
    text-decoration underline

// ELEMENTS
.button
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  appearance none
  cursor pointer
  display inline-block
  padding 0.4em 1em
  border-radius 3px
  border: 0
  background #ddd
  color #fff
  text-decoration none
  text-transform uppercase
  transition all 0.1s
  & a
    color: #fff
    text-decoration none
  &:hover
    box-shadow inset 0 -2px 0 rgba(0,0,0,0.2)
    text-decoration none
  &:active
    box-shadow inset 0 2px 0 rgba(0,0,0,0.2), inset 0 0 0 2px rgba(0,0,0,0.1)
  &.right
    margin-top: 0
    float: right
    font-size 1em
    font-family font
  &.red
    background-color: red
    font-size 1em

.half
  display inline-block
  vertical-align top
  width: 50%
  padding-right: 5px
  & + .half
    padding-left: 5px

#notifications
  cursor: pointer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 999
  .notification
    display: none
    padding: 0.8em 1em
    line-height: 1.4em
    text-align: center
    color: #fff
    //+transition(all 0.2s)
    &.success, &.notice
      background: green
    &.error, &.alert
      background: red
    &.action
      background: blue


// APPLICATIONS LIST
.app-list
  list-style none
  margin 0
  padding 0
  & > li
    position relative
    min-height 6.625em
    margin-bottom 1em
    clear both
    background #fff
    box-shadow 0 3px 0 rgba(0,0,0,0.05)
.project-infos
  position relative
  display inline-block
  vertical-align top
  padding 15px
  width 30%
  height 100%
  background #fff
  .repo-settings
    cursor pointer
    position absolute
    top 0
    right 0
    img
      width 1.2em
      height 1.2em
      line-height 1.2em
      font-size: 1em
      margin: 18px 18px 0 0
      text-align center
      opacity 0.5
      transition all 0.1s
      &:hover
        opacity 1
  .repo-url
    font-size 0.8em
    margin 10px 0
    background none
    color grey
  h2
    margin 0em

.environment-list
  display inline-block
  vertical-align top
  width 70%
  height 100%
  border-left 1px solid #eee
.environment
  padding 15px
  border-bottom 1px solid #eee
  &:last-child
    border 0
  h3
    margin 0
    margin-bottom 10px
    color fontcolor
    font-weight normal
  .show-deployments:hover
    color blue
    text-decoration none
  .button
    float right
    font-size 0.75em
    margin-left: 10px
  &:hover
    [data-action="deploy"]
      background green
    [data-action="stop"]
      background red
    [data-action="update"]
      background blue
    .disabled
      background grey
      cursor default
  .version,
  .last-update
    font-size 0.8em
    margin-top 0.2em
    color grey
    &.updated
      color blue
    &.error
      color red
    &.late
      font-style italic
  .tiny-loader
    margin-top 12px
    margin-left 45px

.status
  float left
  font-size: 0.75em
  height 1em
  width 1em
  margin 0.5em 1.5em 4em 0.3em
  border-radius 50%
  background #ddd
  transition all 0.2s
  &[data-state="updated"]
    background green
  &[data-state="behind"]
    background red
  &[data-state="running"]
    background orange
  &[data-state="error"]
    background black

// FORM ELEMENTS
input[type="text"]
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  appearance none
  display block
  width 100%
  padding 0.3em 0.6em
  font-size 1em
  border 1px solid #ddd
  background #f2f2f2
  margin-bottom 1em


// DIALOGS

.dialog
  display none
  position fixed
  overflow auto
  z-index 1
  top 0
  left 0
  right 0
  bottom 0
  background rgba(255,255,255,0.8)
  text-align center
  hr
    border 0
    border-top 1px solid #ddd
  form
    position: relative
    width 100%
    max-width 500px
    padding 50px
    margin 30px auto
    background #fff
    text-align left
    border 1px solid #ddd
    box-shadow 0 3px 15px rgba(0,0,0,0.2)
    .close
      cursor pointer
      position absolute
      top 0
      right 0
      width 2em
      height 2em
      line-height 2em
      text-align center
      background #eee
      color #bbb
      transition all 0.1s
      &:hover
        background #ccc
        color #fff
    label
      color grey
      display block
      margin-bottom 0.4em
    input[type="submit"]
      background green
      font-size 1em
  .js-more-environment
    background silver
    font-size 0.875em
    width 100%
    text-align center

#new-project,
#edit-project,
#deployments
  @extend .dialog

#deployments
  .list-deployments
    clear both
    display inline-block
    margin 0
    padding 0
    list-style none
    position: relative
    padding 50px
    margin 30px auto
    background #fff
    text-align left
    border 1px solid #ddd
    box-shadow 0 3px 15px rgba(0,0,0,0.2)
    .status
      margin 0.5em 1.5em 0em 0.3em
    .commit
      display inline-block
      font-size 0.9em
      margin-left 35px
    .sha
      display: inline
      color: blue
    .close
      cursor pointer
      position absolute
      top 0
      right 0
      width 2em
      height 2em
      line-height 2em
      text-align center
      background #eee
      color #bbb
      transition all 0.1s
      &:hover
        background #ccc
        color #fff

.add-environment-list
  clear both
  margin 0
  padding 0
  list-style none
  li
    margin-top: 15px
    input[type='text']
      margin 0 0 5px
  .destroy-location
    display block
    text-align right
    color red



@media screen and (max-width: 600px)
  body
    padding 10px
  h1
    margin-top 0
  .project-infos,
  .environment-list
    width 100%
  .project-infos
    border-bottom 1px dashed #ddd
